html {
    font-size: 18px;
    background-color: white;
}

body {
    font-family: Helvetica, sans-serif
}

/*  This is to find how the divs sit on the page. Remember to remove this property when you are finished styling your website.
div {
    border: 1px solid black;
} */



/* Use less code! You've been using too much code and confusing yourself. */
.container {
    max-width: 960px;
    margin: 0 auto;
}

/* Header */
.company {
    background-color: black;
    color: white;
}

.company .container {
    display: flex;
    align-items: center;
    padding: 0.66rem 0 0.66rem .5rem;
}

.company img {
    height: 1.5rem;
    padding-right: 1rem;
}

.main-banner {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
}

/* My headline had a large space between itself and the header of the page.  */
.headline {
    width: 20rem;
    top: 9rem;
    padding: 2rem 3rem;
    background-color: black;
    color: white;
    position: relative;
}

.headline h4 {
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 2rem;
    padding-left: 3rem;
}

.headline h2 {
    font-family: helvetica;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 3rem;
    padding-top: 0.75rem;
    line-height: 2.50rem;
}

nav {
    /* We cannot use display: flex here. We must use it in our tl tag. */
    background-color: firebrick;
    color: white;
}

nav ul {
    /* The defult value on any webpage is 'inline' so when we give our display property of 'flex' it will set it inline. */
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0.75rem 0;
}

.mobile-nav {
    display: none;
}

.products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.product-image img {
  max-width: 8rem;
}

.description {
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;
}

.info {
  width: 35%;
}

.info,
.title {
    /* This is important because othering these two classes will only diaplay beside eachother. */
    display: block;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.title {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    color: white;
}

footer {
    height: 5rem;
    background-color: black;
    color: white;
    text-align: left;
    padding: 4rem;
}

@media only screen and (max-width: 1024px) {
    /* I found including these two properties as the instructions state, decreased the size of the font in the headline too much, making it not proportional to the original size. 
    
    .headline h2 {
        font-size: 1rem;
    }

    .headline h4 {
        font-size: 1.2rem;
    } */

    nav ul {
        display: none;
    }

    .mobile-nav {
        display: block;
        text-align: center;
    }

    .product {
        width: 47%;
    }

    .product.glasses {
        display: none;
    }

    .info {
        width: 35%;
    }
}

@media only screen and (max-width: 470px) {
    .headline h2 {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: helvetica;
    }

    .headline h4 {
        font-size: 0.77rem;
        font-weight: bold;
        font-family: helvetica;
        padding-left: 3rem;
        
    } 

    .headline {
        width: 100%;
        padding: 1rem 2rem;
        top: 4.75rem;
        
    }

    .main-banner {
        height: 15rem;
    }

    nav ul {
        display: none;
    }

    .mobile-nav {
        display: block;
        text-align: center;
    }

    .product {
        width: 90%;
        margin: auto;
    }

    .product.watch {
        display: none;
    }

    .products,
    .business-info {
        flex-wrap: wrap;
    }

    .info {
        width: 90%;
        margin: auto;
        height: 0.1rem;
        padding-bottom: 5rem;
    }

    footer {
        text-align: center;
    }

}